body {
    background-color: #b8c9d6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h1 {
    color: #05566e;
    text-align: center;
    font-weight: 700;
}

h2 {
    color: #05566e;
    text-align: center;
    font-weight: 700;
}

h3 {
    color: #05566e;
    text-align: center;
    font-weight: 500;
}

p {
    color: ;
    font-weight: 300;
    line-height: 1.8;
}

#imagem-perfil {
    border-radius: 7%;
    margin: auto;
    display: block;
}

.titulos-menores {
    color: ;
    font-weight: 500;
    border-style: solid;
    border-color: ;
    border-width: 1px;
}

.texto-geral {
    color: ;
    font-weight: 300;
    line-height: 1.8;
    border-style: solid;
    border: 1px;
    border-color:;
}

td {
    border: 1px;
    border-style: solid;
    border-color:;
    padding: 10px;
}

.titulos-contato {
    color: ;
    font-weight: 500;
}
