body {
    background-color: #f9f7f3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h1 {
    color:#9e2a2b;
    text-align: center;
    font-weight: 700;
}

h2 {
    color: #9e2a2b;
    font-weight: 700;
}

h3 {
    color:#9e2a2b;
    font-weight: 500;
}

p {
    color: #050146;
    font-weight: 300;
    line-height: 1.8;
}

#imagem-perfil {
    border-radius: 15%;
}

.tabela {
    border-color: #050146;
    border-style: solid;
    
}

.titulos-menores {
    color: #e76f51;
    font-weight: 500;
    border-style: solid;
    border-color: #050146;
    border-width: 1px;
}

.texto-geral {
    color:#050146;
    font-weight: 300;
    line-height: 1.8;
    border-style: solid;
    border: 1px;
    border-color:#050146;
}

td {
    border: 1px;
    border-style: solid;
    border-color:#050146;
}

.titulos-contato {
    color: #9e2a2b;
    font-weight: 500;
}
